<div class="wrap">

        <!-- <p class="text-center title-chart">
            <span>6</span>
            <img src="assets/img/upd/chart-line-solid.svg" alt="">
        </p> -->

    <div class="report-cover">
        <div class="report">
            <ul>
                <li class="abroad_report" data-format="pdf" data-type="1"><a href="#" onclick="return false;"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li class="abroad_report" data-format="xls" data-type="1"><a href="#" onclick="return false;"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li class="abroad_report" data-format="html" data-type="1"><a href="#" onclick="return false;"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
            <h1>Ölkələr üzrə</h1>
        </div>
    </div>

    

    <div class="report-cover">
        <div class="report">
            <ul>
                <li class="abroad_report" data-format="pdf" data-type="2"><a href="#" onclick="return false;"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li class="abroad_report" data-format="xls" data-type="2"><a href="#" onclick="return false;"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li class="abroad_report" data-format="html" data-type="2"><a href="#" onclick="return false;"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
            <h1>Tədris illəri üzrə</h1>
        </div>
    </div>
    

    <div class="report-cover">
        <div class="report">
            <ul>
                <li class="abroad_report" data-format="pdf" data-type="3"><a href="#" onclick="return false;"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li class="abroad_report" data-format="xls" data-type="3"><a href="#" onclick="return false;"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li class="abroad_report" data-format="html" data-type="3"><a href="#" onclick="return false;"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
            <h1>Qeydiyyatda olduğu rayonlar üzrə</h1>
        </div>
    </div>


    <div class="report-cover">
        <div class="report">
            <ul>
                <li class="abroad_report" data-format="pdf" data-type="4"><a href="#" onclick="return false;"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li class="abroad_report" data-format="xls" data-type="4"><a href="#" onclick="return false;"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li class="abroad_report" data-format="html" data-type="4"><a href="#" onclick="return false;"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
            <h1>Təhsil səviyyələri üzrə</h1>
        </div>
    </div>


    <div class="report-cover">
        <div class="report">
            <ul>
                <li class="abroad_report" data-format="pdf" data-type="5"><a href="#" onclick="return false;"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li class="abroad_report" data-format="xls" data-type="5"><a href="#" onclick="return false;"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li class="abroad_report" data-format="html" data-type="5"><a href="#" onclick="return false;"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
            <h1>Ali təhsil müəssisələri üzrə</h1>
        </div>
    </div>



    <div class="report-cover">
        <div class="report">
            <ul>
                <li class="abroad_report" data-format="pdf" data-type="6"><a href="#" onclick="return false;"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li class="abroad_report" data-format="xls" data-type="6"><a href="#" onclick="return false;"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li class="abroad_report" data-format="html" data-type="6"><a href="#" onclick="return false;"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
            <h1>İxtisas istiqamətləri üzrə</h1>
        </div>
    </div>

</div>